{% extends 'base.html' %}

{% block head %}
<title>Donation</title>
{% endblock %}

{% block body %}
<h1>Here you can donate food.</h1>
<h1>Enter in your zip code</h1> 
<form action="donate" method="post">
    <input type="number" placeholder="Zip Code" name="zipcode" value="{{
      request.form.zipcode }}">
    <input class="btn btn-default" type="submit" value="Enter">
     
</form>

<h1>These are the three closest food banks to your location.</h1>
<h1>Pick a food bank.</h1>

<form action='donate' method ='post'>
    <div class="bank-selection">
        <input id="fbradio" type="radio" name="bank_select" value="op1">{{ arr[0] }}<br>
        <input id="fbradio" type="radio" name="bank_select" value="op2">{{ arr[1] }}<br>
        <input id="fbradio" type="radio" name="bank_select" value="op3">{{ arr[2] }}<br>
    </div>
    <input class="btn btn-default" type="submit" value="Enter">
</form>


{% endblock %}